@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

.solar-system{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 99%;
}
.wrapper{
    position: absolute;
    top: 40%;
    width: 99%;
}
span{
    height: 100px;
    width: 100px;
}

body{
    background-color: black;
    color: white;
    font-family: 'Lora', serif;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 80px;
}
img{
    height: 100%;
    width: 100%;
    transition: transform 1s;
}
.checked{
    color: rgb(203, 145, 245);
}
#star1{
    position: absolute;
    top: 20%;
    right: 80%
}
#star2{
    position: absolute;
    top: 80%;
    right: 30%
}
#star3{
    position: absolute;
    top: 75%;
    right: 95%
}

#star4{
    position: absolute;
    top: 80%;
    right: 22%
}
#star5{
    position: absolute;
    top: 67%;
    right: 43%
}
#star6{
    position: absolute;
    top: 33%;
    right: 97%
}
#star7{
    position: absolute;
    top: 75%;
    right: 12%
}

#star8{
    position: absolute;
    top: 32%;
    right: 19%
}
#star9{
    position: absolute;
    top: 45%;
    right: 31%
}
#star10{
    position: absolute;
    top: 10%;
    right: 50%
}

#star1{
    position: absolute;
    top: 20%;
    right: 10%
}
.saturn{
    width: 140px;
}


.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext-bottom {
    visibility: hidden;
    background-color: orange;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    width: 250px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 1;
    height: fit-content;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext-bottom{
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext-bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent orange transparent;
    
}
.tooltip .tooltiptext-top{
    visibility: hidden;
    background-color: orange;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    width:250px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 1;
    height: fit-content;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext-top{
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext-top::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: orange transparent transparent transparent;   
}
.tooltip .tooltiptext-left {
    visibility: hidden;
    background-color: orange;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    width: 250px;
    top: -5px;
    right: 105%;
    margin-left: -60px;
    z-index: 1;
    height: fit-content;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext-left{
    opacity: 1;
    visibility: visible;
}
.tooltip .tooltiptext-left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent orange;
}
img:hover{
    transform: rotate(300deg) scale(2,2);
}
.sun-img{
    height:90%
}
.saturn-img{
    height:80%;
    width: 120%
}
.asteroid-img{
    z-index: -2;
}